.popup__button{
  width: 100%;
  background-color: black;
  border: 0;
  outline: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #fff;
  min-height: 50px;
  margin: 48px auto 37px;
  cursor: pointer;
  transition: opacity .5s ease;
}

.popup__button:hover {
  opacity: .8;
}

@media screen and (max-width: 680px) {
  .popup__button{
    min-height: 46px;
    margin: 45px auto 25px;
    font-size: 14px;
    line-height: 17px;
  }
}